doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/less-css/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
  body
    block content
